<a href="https://colab.research.google.com/github/ethankyle360/ML4SupplyChain/blob/main/Section_16_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For this assignment, we will work on the UK and Ireland dataset and create a re-ordering policy for every SKU's assuming we have a common warehouse for both UK customers and Ireland.

Instructions:
1.   Make a new script.
2.   Filter the last 90 days of the UK and Ireland.
3.   Transform the data to make ABC analysis and set the service level. Calculate for the ABC.
4.   Calculate the average daily demand and the standard deviation per SKU. Do the ABC analysis and join them with the expected sales and standard deviation. Set service level for
A_A, B_A, C_A to 80%, A_C, A_B, B_B to 70%, C_C, C_B, B_C to 60%

5. Calculate the re-order point per each SKU's. Let's assume that the lead time is 21 days for all the SKU's. Also, assume that the standard deviation of the lead time is 2 days for all SKU's.

In [1]:
!pip install inventorize1

Collecting inventorize1
  Downloading inventorize1-0.0.2.tar.gz (16 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from inventorize1) (1.13.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from inventorize1) (1.3.2)
Requirement already satisfied: pandas>=0.23.3 in /usr/local/lib/python3.10/dist-packages (from inventorize1) (2.1.4)
Requirement already satisfied: numpy>=1.14.5 in /usr/local/lib/python3.10/dist-packages (from inventorize1) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.3->inventorize1) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.3->inventorize1) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.3->inventorize1) (2024.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->inventorize1) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->inventorize1) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.23.3->inventorize1) (1.16.0)
Building wheels for collected packages: inventorize1
  Building wheel for inventorize1 (setup.py) ... done
  Created wheel for inventorize1: filename=inventorize1-0.0.2-py3-none-any.whl size=15612 sha256=0b2dc313f7cfdf82d201acf6bbaf78e0a47fd226504d7191a36cfd82c7344b0b
  Stored in directory: /root/.cache/pip/wheels/88/ff/6d/cc065d3a5380732f2c1c06faae76d805a83ebc3c4412cd9eed
Successfully built inventorize1
Installing collected packages: inventorize1
Successfully installed inventorize1-0.0.2

In [2]:
import pandas as pd
import inventorize1 as inv
import datetime
import numpy as np
retail = pd.read_csv('Uk_Ireland.csv')

In [3]:
retail = retail.drop_duplicates()
retail = retail.dropna(axis=0)

In [4]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
Index: 398925 entries, 0 to 522842
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      398925 non-null  float64
 1   StockCode    398925 non-null  object
 2   Description  398925 non-null  object
 3   Quantity     398925 non-null  float64
 4   InvoiceDate  398925 non-null  object
 5   Price        398925 non-null  float64
 6   Customer.ID  398925 non-null  float64
 7   Country      398925 non-null  object
 8   date         398925 non-null  object
 9   revenue      398925 non-null  float64
 10  year         398925 non-null  float64
 11  month        398925 non-null  object
dtypes: float64(6), object(6)
memory usage: 39.6+ MB

In [5]:
retail.InvoiceDate

0         2009-12-01T07:45:00Z
1         2009-12-01T07:45:00Z
2         2009-12-01T07:45:00Z
3         2009-12-01T07:45:00Z
4         2009-12-01T07:45:00Z
                  ...
522838    2011-01-27T14:48:00Z
522839    2011-01-27T14:48:00Z
522840    2011-01-27T14:48:00Z
522841    2011-01-27T14:48:00Z
522842    2011-01-27T14:48:00Z
Name: InvoiceDate, Length: 398925, dtype: object

In [6]:
retail['InvoiceDate'] = pd.to_datetime(retail['InvoiceDate'])

In [7]:
retail['date'] = retail.InvoiceDate.dt.strftime('%Y-%m-%d')

In [8]:
retail['date'] = pd.to_datetime(retail['date'])