<a href="https://colab.research.google.com/github/ethankyle360/ML4SupplyChain/blob/main/section_12_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment: Work on the 2011 dataset for a UK retailer.

Objective: Characterize how many products are lumpy, intermittent, smooth and erratic.

In [1]:
import pandas as pd

In [2]:
retail = pd.read_csv('twentyeleven.csv')

In [4]:
retail.info() # Print information about the retail dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338849 entries, 0 to 338848
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      338848 non-null  float64
 1   StockCode    338849 non-null  object
 2   Description  338849 non-null  object
 3   Quantity     338848 non-null  float64
 4   InvoiceDate  338848 non-null  object
 5   Price        338848 non-null  float64
 6   Customer ID  255407 non-null  float64
 7   Country      338848 non-null  object
 8   date         338848 non-null  object
 9   revenue      338848 non-null  float64
 10  year         338848 non-null  float64
dtypes: float64(6), object(5)
memory usage: 28.4+ MB

In [8]:
# We are take the InvoiceDate column from the `retail` dataframe.
# Take the InvoiceDate data and convert it into datetime.
retail['InvoiceDate'] = pd.to_datetime(retail['InvoiceDate'])

In [10]:
# Add a new column called `daysofweek` and add it to the dataframe.
# Get the day of the week each purchase was made.
# Monday = 0, Sunday = 6
retail['daysofweek'] = retail['InvoiceDate'].dt.dayofweek

In [12]:
# Count the number of occurences for each unique value
# It looks like no purchase was made during a Saturday (5.0)
retail['daysofweek'].value_counts()

daysofweek
1.0    66283
3.0    65541
2.0    59823
0.0    58955
4.0    50038
6.0    38208
Name: count, dtype: int64

In [14]:
# Create a new column called `date` in the retail dataframe.
# Take the dates from `InvoiceDate` and set it into the string format of YYYY-MM-DD
retail['date'] = retail['InvoiceDate'].dt.strftime('%Y-%m-%d')

In [16]:
# Convert the string format back into Date Time format.
# Why? So that I can do date calculations
retail['date'] = pd.to_datetime(retail['date'])